@import url("https://fonts.googleapis.com/css?family=Montserrat:500,300&subset=cyrillic");

@keyframes header_anim {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.header__title {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  transition: transform 0.3s ease-out;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-transform: uppercase;
  color: black;
  align-self: center;
}

.header { 
background:#ADD8E6; 
  display: flex;
  min-height: 50vh;
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  padding: 8px 50px;
}

.header::before{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.reg_form {
  position: relative;
  background: #B0C4DE;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 8em;
  font-weight: 700;
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  color: black;
}

h2 {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  position: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

h3 {
   transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  font-size: 0.5 em;
  text-align: center;
}

.article_first { 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
	margin: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.article_second {
	background: #B0C4DE;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.article_third {
	background: #white;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.article_fourth {
	background: #90EE90;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	padding: 5;
	display: block;
	margin-bottom: 0;
	margin-top: 0;

}

 p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  font-size: 2em;
  font-weight: 300;
}

.form_input,
.form_textarea {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: transform 0.3s ease-out;
  color: #02f;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.form_input::-webkit-input-placeholder,
.form_textarea::-webkit-input-placeholder {
  opacity: 0.6;
  color: #02f;
}

.cent {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.form_input:focus,
.form_textarea:focus {
  transition: transform 0.3s ease-out;
  transform: scale(1.02, 1.02);
}

.form_textarea {
  resize: none;
}

/*.article_first::before,
.article_second::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:'';
}*/

.form_button, btn, button {
  display: inline-block;
  padding: 12px 32px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #02f;
  background-clip: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}


.form_button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
}

/* Navbar Logo */
.nav_header .navbar-logo {
  width: 100px;
  height: 100px;
  float: left;
  /*max-height: 95px;
  line-height: 65px;*/<article class="article article_bluebg article_second">
   transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
}

.nav_header .navbar-logo-wrap {
  display: inline-block;
  padding: 15px 0;
}

.nav_header .navbar-logo-wrap:focus, .header .navbar-logo-wrap:hover {
  text-decoration: none;
}

.nav_header .navbar-logo-img {
  display: inline-block;
  width: 85px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
   transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
}

/* Navbar */
.nav_header .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background: #ADD8E6;
}

/* Nav */
.nav_header .nav-item {
  position: relative;
  display: block;
   transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
}

.nav_header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.nav_header .nav-item-child {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase;
  line-height: 55px;
  padding: 20px;
}

.nav_header .nav-item-child.active {
  position: relative;
}

